version: "3.8"

services:
  market:
    image: market
    container_name: market
    ports: 
      - "3001:8080"
    environment:
      PORT: ${APP_PORT}
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      JWT_KEY: ${JWT_KEY}
    build:
        context: .
        dockerfile: Dockerfile